
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
<center>
<h2 style="background-color:lightcyan">Registration Form</h2>
<table style="background-color:lightblue;" border="2" width="30">
  <tr>
    <th>NAME</th>
    <th>AGES</th>
    <th>Country</th>
    <th>STATE</th>
    <th>CITY</th>
  </tr>
  <tr>
    <td>kiru</td>
    <td>19</td>
    <td>INDIA</td>
    <td>Tamil Nadu</td>
    <td>Madurai</td>
  </tr>
  <tr>
    <td>sam</td>
    <td>20</td>
    <td>India</td>
    <td>Tamil Nadu</td>
    <td>Chennai</td>
  </tr>
  <tr>
    <td>pranav</td>
    <td>20</td>
    <td>India</td>
    <td>kerala</td>
    <td>kochi</td>
  </tr>
  <tr>
    <td>rishi</td>
    <td>20</td>
    <td>India</td>
    <td>Tamilnadu</td>
    <td>coimbatore</td>
  </tr>
</table>
</center>
</body>
</html>